.reviews-container{
    max-width: 1800px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-bottom: 100px;
    padding-top: 180px;
    margin: 0 auto !important;

    h1{
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 800;
        font-size: 71.7px;
        line-height: 79px;
        letter-spacing: -1.792px;
        background: linear-gradient(177.78deg, #FFFFFF -43.29%, #F12EF6 52.12%, #AC02F3 73.73%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        margin-bottom: 40px;
    }

    .reviews{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        padding: 0px 119px;
        

        .review{
            max-width: 382px;
            width: 100%;
            background: linear-gradient(137.42deg, rgba(0, 0, 0, 0.4) 0.75%, rgba(0, 0, 0, 0.1) 103.34%);
            border: 1px solid #7A28ED;
            backdrop-filter: blur(50px);
            border-radius: 10px;
            padding: 25px;
            margin: 8px;
            min-height: 200px !important;
            


            .top-part{
                display: flex;
                justify-content: space-between;
                .stars{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 10px;
                    
                    img{
                        width: 100%;
                        
                    }
                }
                .text{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0;
                    h1{
                        font-family: 'Poppins';
                        font-style: normal;
                        font-weight: 700;
                        font-size: 16px;
                        line-height: 20px;
                        letter-spacing: -0.25px;
                        color: #7A28ED;
                        margin: 0;
                    }
                }
            }

            p{
                font-family: 'Poppins';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: -0.25px;
                color: #FFFFFF;
                margin-top: 26px;
            }

           h4{
            color: #7A28ED !important;
            margin-top: 15px;
            
           }
           span{
            color: #FFFFFF !important;
           }
        }
    }
}


@media(max-width:750px){
    .reviews-container{
        padding-top: 100px;
        padding-bottom: 100px;
        h1{
            font-size: 40px;
            line-height: 44px;
            letter-spacing: -1px;
            text-align: center;
        }
        .reviews{
            padding: 0px 20px;
            .review{
                max-width: 100%;
                margin: 8px 0px;
                min-height: 100% !important;
            }
        }
    }
}